@model AdsMes.WEB.Models.ChecklistViewModel

@{
    ViewBag.Title = "Контрольная карта";
}

<h2>Контрольная карта создана</h2>


<div>
    @Html.ActionLink("На главную", "Index", null, new { @class = "btn btn-info" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
