@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    г. Минск<br />
    ул. Селицкого 10<br />
    <abbr title="Телефон">Тел.:</abbr>
    +375 00 000 00 00
</address>

<address>
    <strong>Поддержка:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Разработчик:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>